
html, body {
    padding: 10px;
    clear: both;
    float: left;
}

#singleBlogPost {
    padding: 10px;
    margin-bottom: 50px;
    border-width: 3px;
    border-style: solid;
    border-color: rgb(36, 80, 56);

}

#blogPostCreation{
    border-width: 3px;
    border-style: solid;
    border-color: rgb(0, 12, 43);

}
#blogPostCreation> * {
    margin: 7px;

}