
html, body {
    padding: 10px;
    clear: both;
    float: left;
    background-image: url(./images/andrew-neel-QLqNalPe0RA-unsplash.jpg);
    background-size:100% 100%;
  
}
#background{
    background-image: url(./images/plush-design-studio-y7GlIdTUOvo-unsplash.jpg);
    background-size:100% 100%;
    
    
    

}
#welcometext{
    background-color: aliceblue;
    text-align: center;
    margin-top: 20;
}

#startBlog{
    background-color: rgb(233, 224, 238);
    text-align: center;
}
#singleBlogPost {
    padding: 10px;
    margin-bottom: 50px;
    border-width: 3px;
    border-style: solid;
    border-color: rgb(80, 36, 74);
    background-color: aliceblue;
    
}

#blogPostCreation{
    border-width: 6px;
    border-style: solid;
    border-color: rgb(0, 12, 43);
    text-align: center;

}
#blogPostCreation> * {
    margin: 7px;
    width: 700px;
    height: 40px;
    text-align: center;

}